@media screen  and (max-width:768px){  
    :root{  
        --title-text-size:30px;
        --product-text-size:24px;    
    } 
    ul.navbar{
        display: none;
    }
    nav .mobile-navbar {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content:space-between;
        align-items: center;
       
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .section-title{
        font-size: var(--title-text-size);
    }
    .products{
        gap: 10px;
    }

}